name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run log checker on example.log
        run: |
          chmod +x log_checker.sh
          ./log_checker.sh example.log || true

      - name: Build Docker image
        run: |
          docker build -t devsecops-env-info .

      - name: Run container (optional)
        run: |
          docker run --rm -e APP_ENV=test devsecops-env-info
