name: DevSecOps Trainee CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run log checker
        run: |
          chmod +x ./log_checker.sh
          ./log_checker.sh ./example.log

      - name: Build Docker image
        run: |
          docker build -t devsecops-env-info .
